*.h5
*.amat
*.pyc
*.ipnyb_checkpoints/*
*-checkpoint.ipynb
chkpt*
*.png
*.pkl
*.sh
*.pkl.gz
chkpt-*/
*.o*
*.tmp
*.q
*indicators.txt
*.aux 
*.brf 
*.log 
*.bbl 
*.blg 
*.dvi 
*.ps 
*.out 
*.fdb_latexmk 
*.synctex.gz
*.swp
*.log
ipynb/synthetic/*.pdf
ipynb/medical/*.pdf
expt-polyphonic/*.txt
*.midi
*.wav
*.npz
*.pkl
datasets/tmp_MOCAP*.mat
*.txt
